* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
.h3,
.h4,
legend {
  font-weight: 600;
}
.nav-links{
  text-decoration: none;
}
.nav_brand{
  font-weight: 800;
  color: blue;
}
.pad-5{
  padding-block-start: 80px;
}